ACCESS_KEY='YOUR ACCESS KEY'
SECRET_KEY='YOUR SECRET KEY'

# Bucket and cloudfront distribution
S3_BUCKET='S3 BUCKET NAME'
DISTRIBUTION='ID OF CLOUDFRON DISTRIBUTION'

# This is not the same as EC2 keypairs.
# To generate one you have to be root user of your AWS account
# and then go to: 
# https://console.aws.amazon.com/iam/home?region=us-east-1#security_credential
CLOUDFRONT_KEY_ID='CLOUD FRONT KEY ID'
PRIVATE_KEY_FILE='/path/to/keyfile.pem'
